<div>
   
  <h1 class="font-bold text-4xl">Stock Vet</h1>
  <%= link_to "Articles", articles_path, class:"w-[200px] h-[40px] bg-slate-700 text-white flex justify-center items-center rounded mt-9 cursor-pointer"%>
  <%= link_to "Categories", categories_path , class:"w-[200px] h-[40px] bg-green-700 text-white flex justify-center items-center rounded mt-9 cursor-pointer"%>

</div>
