<div class="w-full h-auto flex justify-start items-start gap-4 m-7">
 <p class="w-[90px]"><%= category.name%></p>
 <%= link_to "Edit", edit_category_path(category), class:"w-[60px] h-[30px] bg-blue-400 text-white flex justify-center items-center rounded  cursor-pointer"%>
    <%= link_to "Delete", category_path(category),class:"w-[60px] h-[30px] bg-red-400 text-white flex justify-center items-center rounded  cursor-pointer", data:{ 
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    }%>
</div>